@import url('https://fonts.googleapis.com/css2?family=Abel&family=Caveat&family=Pacifico&family=Square+Peg&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  color: rgba(var(--color-primary-rgb), 1);
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#particles-js{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

.p-heading {
  padding-top: 40px;
  padding-bottom: 200px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}

#connect {
font-family: 'Square Peg', cursive;
font-size: 40px;
font-weight: bold;
}




/* Containers */

.container-fluid{
  padding: 0 0;
}

.social-links {
padding-bottom: 100px;
}
@media (max-width: 544px) {
  .social-links {
    padding-bottom: 40px;
  }
  .p-heading {
    font-size: 20px;
    padding-bottom: 18px;
  }
  #connect {
    font-size: 15px;
  }
  .cape-img {
    width: 100%;
    margin-top: -60px;
    padding-bottom: 20px;
  }
  .footer-content {
    font-size: 13px;
  }
  .footer {
    padding-top: 10px;
    padding-bottom: 0px;
    position: fixed;
    bottom:0;
    width:100%;
  }
}

@media (max-width: 768px) {
  .social-links {
    padding-bottom: 80px;
  }
  .p-heading {
    font-size: 30px;
    padding-bottom: 120px
  }
  #connect {
    font-size: 35px;
  }
  .cape-img {
    width: 100%;
    padding-bottom: 20px;
  }
  .footer {
    position: fixed;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .p-heading {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .cape-img {
    width: 90%;
    padding-top: 20px;
  }
}

.row .p-heading {
width: 100%;
padding-bottom: 100px;
}

.container-fluid {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
/* Header Start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/*--------------------------------------------------------------
bg img
--------------------------------------------------------------*/
.cape-img img{
  width: 100%;
  height: 100%;
  position: relative;

}

/*--------------------------------------------------------------
# Social links
--------------------------------------------------------------*/
.social-links a {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  transition: all 0.2s ease;
  font-size: 40px;
  position: relative;
}

.social-links a:hover {
  background-color: rgba(var(--color-white-rgb), 0.2);
}

.bi-facebook{
  color: #3b5998;
}
.bi.facebook:hover{
  transform: scale(1.5);
}
.bi-instagram{
  color: #e1306c;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #405de6, #5851db);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #833ab4, #c13584); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}
.bi-twitter{
  color: #55acee;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: rgba(19, 19, 19, 0.4);
  font-size: 16px;
  background-color: rgba(19, 19, 19, 0.4);
  position: relative;
  bottom: 0;
  margin: -12px;
}

.footer .footer-content {
  padding: 24px;
  width: 100%;
}

/*--------------------------------------------------------------
# Action button
--------------------------------------------------------------*/
.chat-btn {
position: fixed;
bottom:60px;
right:11px;
cursor: pointer;
}

.chat-btn .close {
display: none
}

.chat-btn i {
transition: all 0.9s ease
}

#check:checked~.chat-btn i {
display: block;
pointer-events: auto;
transform: rotate(180deg);
color: #3e1cff;
}

#check:checked~.chat-btn .comment {
display: none
}

.chat-btn i {
font-size: 22px;
color: #000
}

.chat-btn {
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px;
background-color: #d6d3d4;
color: #fff;
font-size: 22px;
border: none
}

.wrapper {
position: fixed;
right: 20px;
bottom: 100px;
width: 300px;
background-color: #fff;
border-radius: 5px;
opacity: 0;
transition: all 0.4s
}

#check:checked~.wrapper {
opacity: 1
}

.header {
padding: 13px;
background-color: #3e1cff;
border-radius: 5px 5px 0px 0px;
margin-bottom: 10px;
color: #fff
}

.chat-form {
padding: 15px;
}

.chat-form input,
textarea,
button {
margin-bottom: 10px
}

.chat-form textarea {
resize: none
}

.form-control:focus,
.btn:focus {
box-shadow: none
}

.submit-button,
.submit-button:focus,
.submit-button:hover {
background-color: #3e1cff;
border: #3e1cff
}

#check {
display: none !important
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
position: fixed;
visibility: hidden;
opacity: 0;
right: 15px;
bottom: 15px;
z-index: 99999;
background: var(--color-primary);
width: 40px;
height: 40px;
border-radius: 4px;
transition: all 0.4s;
}
.scroll-top i {
font-size: 24px;
color: rgb(0, 0, 0);
line-height: 0;
}
.scroll-top:hover {
background: rgba(var(--color-primary-rgb), 0.8);
color: #fff;
}
.scroll-top.active {
visibility: visible;
opacity: 1;
}

section {
scroll-margin-top: 70px;
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 799px) {
  .section-p1 {
      padding: 40px 40px;
  }
  #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
      padding: 80px 0 0 10px;
      transition: 0.4s;
  }
  #navbar.active {
      right: 0px;
  }

  #navbar li {
      margin-bottom: 25px;
  }

  #mobile {
      display: flex;
      align-items: center;
  }

  #mobile i {
      color: #1a1a1a;
      font-size: 20px;
      padding-left: 20px;
  }

  #close {
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222;
      font-size: 24px;
  }

  #lg-bag {
      display: none;
  }
}